body {
  background-color: #ffecfb;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(20, 16, 37, 0.61);
  border-radius: 10px;
  padding: 30px;
}
